<div class="chart-container" *ngIf="activeChart === 3">
  <canvasjs-chart
    [options]="columnChartOptions"
    [styles]="{ width: '100%', height: '600px' }"
  ></canvasjs-chart>
</div>

<div class="chart-container" *ngIf="activeChart === 4">
  <canvasjs-chart
    [options]="bubbleChartOptions"
    [styles]="{ width: '100%', height: '600px' }"
  ></canvasjs-chart>
</div>

<div class="chart-container" *ngIf="activeChart === 5">
  <canvasjs-stockchart
    [options]="stockChartOptions"
    [styles]="{ width: '100%', height: '600px' }"
  ></canvasjs-stockchart>
</div>

<div class="chart-container" *ngIf="activeChart === 6">
  <canvasjs-chart
    [options]="doughnutChartOptions"
    [styles]="{ width: '100%', height: '600px' }"
  ></canvasjs-chart>
</div>
