
ul {
  margin-bottom: 30px;
  li {
    margin-bottom: 8px;
  }
}

.chart-links-container {
  display: flex;
  gap: 2rem;
  margin: 1rem 0 ;
  align-items: center;
  .chart-link {
    button {
      height: 46px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}



