<div class="chart-links-container">
  <h3>Canvas JS Chart Examples</h3>

  @for (link of this.chartService.chartLinks$ | async; track link.id) {
    <div class="chart-link">
      <button mat-flat-button color="primary"><a [routerLink]="[link.path]" (click)="onLinkSelect(link)">{{
        link.label
      }}</a></button>
    </div>
  }
</div>

<app-chart
  [columnChartData]="this.chartService.columnChartData$ | async"
  [bubbleChartData]="this.chartService.bubbleChartData$ | async"
  [stockChartData]="this.chartService.stockChartData$ | async"
  [doughnutChartData]="this.chartService.doughnutChartData$ | async"
  [activeChart]="this.chartService.activeChart$ | async"
/>
