<mat-radio-group [(ngModel)]="selectedBannerType" aria-label="Select a banner type" (ngModelChange)="inputChange($event)">
  <mat-radio-button [color]="'primary'" [value]="BannerType.INFO" checked="true">Info</mat-radio-button>
  <mat-radio-button [color]="'primary'" [value]="BannerType.WARNING">Warning</mat-radio-button>
  <mat-radio-button [color]="'primary'" [value]="BannerType.ERROR">Error</mat-radio-button>
  <mat-radio-button [color]="'primary'" [value]="BannerType.SUCCESS">Success</mat-radio-button>
</mat-radio-group>
