.snippets-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.add-snippet {
  width: 250px;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px black solid;
  border-radius: 5px;

  input, textarea {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px black solid;
    outline: none;
  }

  input[type=submit] {
    align-self: flex-start;
    border: none;
    cursor: pointer;
  }
}
