$main-text-color: #f3f3f3;
$akros-beige: #c3bcb3;
$akros-red: #d60929;
$background: #566df3;
$secondary-background: #3f52bd;
$nav-background: #fdfdfd;
$nav-item: #f4f4f4;
$nav-selected-item: #e6e5e5;

$white: #fff;
$black: #000000;
